/* For Tablets */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }

    .body {
      display: flex;
      flex-direction: column;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }
  
  /* For Smartphones */
  @media all and (max-width: 768px) {
    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .message{
      width:150px;
      
      display: flex;   
      flex-flow:column wrap;
      margin-bottom: 30px;
    }
    
    .connect{
      text-align: center;
      padding: 10% 0%;
    }
    
    .footer-contents{
      width: 50%;
      display: flex;
    flex-direction: column;
    }
    
      .top-wrapper {
        padding-top: 115px;
      }
    
    /* Add CSS for header-right */
    .header-right{
      width: 100%;
      height: 50px;
      margin-top: 65px;
      background-color: rgba(34, 49, 52, 0.9);
      position: fixed;
    
    }

    .header-right a {
      line-height: 50px;
     
  }

    .header-left{
      width:100%;
      background-color: black;
    }

    .heading{
      width:100%;
      text-align: center;
    }
    
    
    
    .top-wrapper h1 {
      font-size: 250%;
      
    }

    .desc{

      font-size: 100% !important ; 
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }

    .container{
      max-width: 1170px;
    width: 100%;
  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .image{
      width: 100%;
    }
  }