/* For Tablets */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }
  
  /* For Smartphones */
  @media all and (max-width: 768px) {
    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .message{
      width:150px;
      
      display: flex;   
      flex-flow:column wrap;
      margin-bottom: 30px;
    }
    
    .connect{
      width:100%;
    }
    
    .footer-contents{
      width: 50%;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    /* Add CSS for header-right */
    .header-right{
      width:100%;
      height: 65px;
    
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    
    }

    .header-left{
      width:100%
    }

    .heading{
      width:100%;
      text-align: center;
    }
    
    
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  }